.mainDiv {
  /* border: 2px solid red; */
  width: 500px;
  margin: auto;
  margin-top: 200px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
}

.submitbtn {
  width: 250px;
  height: 40px;
  color: white;
  background: rgb(88, 88, 181);
  margin-top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: large;
}
.dialogBox {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
  position: fixed;
  background: white;
  z-index: 10;
  margin-left: 30%;
}
.dialogBoxBtn {
  width: 150px;
  height: 40px;
  color: white;
  background: green;

  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 50px;
}
.carousel {
  margin-top: 50px;
}
.homeDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20px;
}
.singleDiv {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
}
.allProdBtn {
  width: 250px;
  height: 40px;
  color: white;
  background: green;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.singleDivBtn {
  width: 150px;
  height: 40px;
  color: white;
  background: red;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}
.navbar {
  background-color: rgb(26, 62, 123);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
